<nav class="navbar navbar-expand-lg navbar-light fundo">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado"
    aria-expanded="false"
    aria-label="Alterna navegação"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink="/carrinho">
    <i
      class="fa fa-shopping-cart fa-2x mr-2 carrinho"
      style="color: white"
      aria-hidden="true"
    ></i>
  </a>

  <div
    class="collapse navbar-collapse ml-100 margenav"
    id="conteudoNavbarSuportado"
  >
    <a routerLink="/home">
      <img
        src="https://i.imgur.com/dI0Vph1.png"
        alt="logo"
        width="80px"
        height="80px"
        class="img-fluid"
      />
    </a>
    <ul class="navbar-nav align-items-center text" style="margin: auto">

      <li class="nav-item active">
        <a class="nav-link text-light py-0 nav-border" routerLink="/home"
          >
          <i class="font-weight-bold">Home</i> <span class="sr-only">(página atual)</span></a
        >
      </li>
      <li class="nav-item active font-weight-bold">
        <a class="nav-link text-light py-0" routerLink="/produtos"
          ><i>Produtos</i></a
        >
      </li>
      <li class="nav-item active font-weight-bold">
        <a class="nav-link text-light py-0" routerLink="/sobre"><i>Sobre</i></a>
      </li>
      <li class="nav-item active font-weight-bold response">
        <a class="nav-link text-light py-0" routerLink="/contato"><i>Contato</i></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mr-3 sumiu align-items-center">
      <input
        class="form-control mr-sm-1 border-radius"
        type="text"
        name="pesquisa"
        id="pesquisaTodos"
        placeholder="Pesquisa"
      />

      <i class="fa fa-search b-search form-control" aria-hidden="true"></i>
    </form>
    <a>
      <li class="ponto text-light mr-15 sumiu icEntrar">
        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
      </li>
    </a>
    <li class="nav-item ponto">
      <div class="d-flex flex-row align-items-center" *ngIf="mostraNome()">
        <a
          class="font-weight-bold mr-3"
          [routerLink]="['/perfil', id]"
          style="color: white"
          >{{ nome }}</a
        >
        <a routerLink="/entrar" (click)="sair()">
          <i
            style="color: white"
            class="fa fa-sign-out fa-2x mr-2"
            aria-hidden="true"
          ></i
        ></a>
      </div>
      <a
        class="text-light marginl icEntrar font-weight-bold"
        *ngIf="escondeNome()"
        routerLink="/entrar"
        >Entre ou<br>
        Cadastre-se</a
      >
    </li>
    <a routerLink="/carrinho" *ngIf="permiteLogin()">
      <li class="ponto mr-15 text-light">
        <i class="fa fa-shopping-cart fa-2x sumiu" aria-hidden="true"></i>
      </li>
    </a>
    <a routerLink="/entrar" *ngIf="verificaLogin()">
      <li class="ponto mr-15 text-light">
        <i class="fa fa-shopping-cart fa-2x sumiu" aria-hidden="true"></i>
      </li>
    </a>
  </div>
</nav>
