.ponto{
    list-style:none ;
    color: black;
}

.mr-30{
    margin-right: 40px;
}

.mr-15{
    margin-right: 15px;
    margin-left: 10px;
}

.border-radius{
    border-radius: 20px 0  0 20px ;

}

.ml-100{
    margin-left: 100px;
    margin-right: 100px;
}

.b-search{
    border-radius: 0 20px 20px 0;
    margin-left: -1em;
    border-left: none;
}

.fundo{
    background-color: #009900;
}


.largura{
    width: 50px;
}

.icones{
    width: 50px;
    height: 50px;
}
.carrinho{
    display: none;
}

.text {
    font-size: 1.1em;
}

.nav-link {
    border-right: solid 2px white;
}

.nav-border {
    border-left: solid 2px white;
}

@media only screen and (max-width: 414px) {
    .sumiu{
        display: none;
        
    }
    .carrinho{
        display: block;
    }
    .icEntrar{
        text-align: center;
    }
    .nav-link {
        border: none;
        margin-top: 1%;
    }
    .response {
        margin-bottom: 20px;
    }
    .collapse {
        text-align: center;
    }
  }