.login-container{
    margin: 6% 10%;
    width: 30%;
  
}
.login-content{
    margin: 6% 15%;

}


.conta-content{
    border-top:solid 1px rgba(128, 128, 128, 0.8);
    padding-top:4%;
   

}
.container-center {

    margin: 1% 5%;
    padding: 9% 2%;
  

}

    #img-bg{
        background-image: url('https://i.imgur.com/1hYfs5w.jpg');
        min-height: 695px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .opacity{
        opacity:0.9;
        filter:alpha(opacity=60);
        }
        @media only screen and (max-width: 764px) {
            .resp{
                width: 100%;
            }
          }