input{
    all: unset;
    border: 1px solid black;
  width: 15px;
  height: 15px;
  display: inline-block;
}
input:checked{
  background-color: rgb(217, 255, 0);
  width: 20px;
  height: 20px;
}

.t-img{
    width: 100%;
    height: 200px;
}

.redondo{
  border-radius: 30%;
}

.t-card{
  width: 35%;
}

.fundo{
  background-color:rgb(217, 255, 0)
}
