#img-bg{
    background-image: url('https://i.imgur.com/zj0eXIr.jpg');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    font-size: 25pt;
}

.opacity{
    opacity:0.8;
    filter:alpha(opacity=60);
    }

    @media only screen and (max-width: 414px){
        .estruForm{
            width: 410px;
        }
    }