<div class="container-fluid" id="img-bg">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="row d-flex justify-content-center id='img-bg'">
      <div
        class="col-md-11 mt-5 mb-5 border border-dark shadow-lg p-3 bg-white rounded opacity hg"
      >
        <h4>Perfil</h4>
        <div class="row estruForm">
          <div class="col-md-12">
            <form >
              <hr />
              <div class="form-row">
                <div class="col-md-6 mb-1 ">
                  <label for="nome"><b>Nome</b></label>
                  <input
                    [(ngModel)]='cliente.nome'
                    name="nome"
                    type="text"
                    id="nome"
                    class="form-control"
                    placeholder="Seu Nome"
                  />
                </div>
                <div class="col-md-6 mb-1">
                  <label for="validationDefault02"><b>Sobrenome</b></label>
                  <input
                    [(ngModel)]="cliente.sobrenome"
                    name="sobrenome"
                    type="text"
                    class="form-control"
                    id="sobrenome"
                    placeholder=" Sobrenome"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-1">
                  <label for="validationDefault03"><b>CPF</b></label>
                  <input
                    [(ngModel)]="cliente.cpf"
                    name="cpf"
                    type="text"
                    id="cpf"
                    class="form-control"
                    placeholder="CPF"
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <label for="validationDefault04"><b>RG</b></label>
                  <input
                    [(ngModel)]="cliente.rg"
                    name="rg"
                    type="text"
                    id="rg"
                    class="form-control"
                    placeholder=" RG"
                  />
                </div>
                <div class="col-md-4 mb-1">
                  <label for="validationDefault05"><b>Telefone</b></label>
                  <input
                    [(ngModel)]="cliente.telefone"
                    name="telefone"
                    type="text"
                    class="form-control"
                    id="telefone"
                    placeholder="Telefone"
                  />
                </div>
              </div>
              <hr />
              <div class="form-row">
                <div class="form-group col-md-6 mb-1">
                  <label for="inputEmail4"><b>Email</b></label>
                  <input
                    [(ngModel)]="cliente.email"
                    name="email"
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="emailHelp"
                    placeholder="Email"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPassword4"><b>Nova Senha</b></label>
                  <input
                    (input)="confirmSenha($event)"
                    type="password"
                    class="form-control"
                    id="inputSenha"
                    placeholder="Digite sua senha atual"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4"
                    ><b>Confirmar Nova Senha</b></label
                  >
                  <input
                    [(ngModel)]="cliente.senha"
                    name="confirSenha"
                    type="password"
                    class="form-control"
                    id="inputConfirmSenha"
                    placeholder="Confirme sua nova senha "
                  />
                </div>
              </div>
              <div class="form-group mt-5">
                <div
                  class="row d-flex align-items-center justify-content-center"
                >
                  <button
                    type="button"
                    class="btn btn-danger mb-1 ml-3"
                    routerLink="/entrar"
                  >
                    Cancelar
                  </button>
                  <button
                    type="submit"
                    class="btn btn-success mb-1 ml-5"
                    (click)="atualizar()"
                  >
                    Atualizar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
