<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<footer>
  <div>
    <a routerLink="/home"
      ><img class="img-logo" src="https://i.imgur.com/dI0Vph1.png" alt="Logo" />
    </a>
  </div>
  <div class="row text-center text-xs-center text-sm-left text-md-left ml-200">
    <div class="col-xs-12 col-sm-4 col-md-4 mtn">
      <h5>Empresa</h5>

      <ul class="list-unstyled quick-links">
        <li>
          <a routerLink="/sobre"
            ><i class="fa fa-angle-double-right"></i>Sobre Nós</a
          >
        </li>
        <li>
          <a routerLink="/home"
            ><i class="fa fa-angle-double-right"></i>Inspire-se</a
          >
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 mtn">
      <h5>Ajuda</h5>
      <ul class="list-unstyled quick-links">
        <li>
          <a routerLink="/contato"
            ><i class="fa fa-angle-double-right"></i>Fale Conosco</a
          >
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 mtn">
      <h5>Formas de Pagamento</h5>
      <div>
        <ul class="list-unstyled quick-links mtn">
          <img
            class="sizelogo px-5 mt-4"
            src="https://i.imgur.com/MSXmGq0.png"
            alt="boleto"
          />
          <img
            class="sizelogo mt-4"
            src="https://i.imgur.com/WmDmmNZ.png"
            alt="visa"

          />
          <br />
          <br />
          <img
            class="sizelogo px-5"
            src="https://i.imgur.com/72ucz66.png"
            alt="elo"
            
          />
          <img
            class="sizelogo"
            src="https://i.imgur.com/hzPhFhi.png"
            alt="master"
          />
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <ul class="list-unstyled list-inline social text-center">
        <li class="list-inline-item">
          <a href="contato@sustenart.com.br" target="_blank"
            ><i class="fa fa-envelope"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a
            href="https://github.com/gumiqueias/projeto_integrador"
            target="_blank"
            ><i class="fa fa-github" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 text-center text-white">
      <p>
        <u><a href="www.sustenart.com.br">SustenArt &copy;</a></u>
      </p>
      <p class="h6">
        © Todos os direitos reservados.<a
          class="text-green ml-2"
          href="https://www.sustenart.com.br"
          target="_blank"
          >SustenArt</a
        >
      </p>
    </div>
    <hr />
  </div>
</footer>
<!-- ./Footer -->
