<div class="container-fluid border-bottom mb-3">

    <div class="row d-flex justify-content-center mt-5 mb-3">
        <div class="col-md-4 d-flex justify-content-center">
            <h3>Nosso Propósito</h3>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6 text-center">
            <p>
                Loja de produtos online e-commerce, com foco em vendas de produtos sustentáveis em geral, com atuação
                principal em matéria-prima sustentável e reutilizável.
            </p>
            <p>
                Tentando promover entre a sociedade a ideia de reutização de lixo para diversas formas no cotidiano,
                assim diminuindo o impacto no meio ambiente através do uso de materiais sustentáveis em diversos
                aspectos, influenciando no reuso de materiais recicláveis e reduzindo o nível de lixo produzido.
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-5 mb-3">
        <div class="col-md-4 d-flex justify-content-center">
            <h3>Objetivos alinhados ao da ONU</h3>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-5">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card-group ">
                <div class="card group-onu">
                    <img class="objetivoOnu" src="https://i.imgur.com/b1hH7yz.jpg" alt="Objetivo da ONU 11">
                </div>
                <div class="card group-onu">
                    <img class="objetivoOnu" src="https://i.imgur.com/fQeeeem.jpg" alt="Objetivo da ONU 12">
                </div>
                <div class="card group-onu">
                    <img class="objetivoOnu" src="https://i.imgur.com/OvrzVHj.jpg" alt="Objetivo da ONU 13">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container mt-3">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center mt-3 mb-1">
            <h3>Desenvolvedores</h3>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <p>
                Redes sociais dos desenvolvedores participantes do SustenArt E-commerce
            </p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card-deck ">
                <div class="card card-devs">
                    <img class="card-img-top" src="https://i.imgur.com/wlRPLYn.jpg" alt="Imagem de capa da Leticia"
                        height="100px">
                    <img src="https://i.imgur.com/Zc2ibPt.jpg" alt="Desenvolvedora Paula Leticia"
                        class="rounded-circle foto-perfil">
                    <div class="card-body columns">
                        <h4 class="card-title d-flex justify-content-center">Paula Leticia</h4>
                        <div class="redes-sociais row d-flex justify-content-center">
                            <a href="https://github.com/paulaleticia21" class="github" target="_blank">
                                <p>
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                    /paulaleticia21
                                </p>
                            </a>
                            <a href="https://www.linkedin.com/in/paula-let%C3%ADcia-aa9061b6/" class="linkedin" target="_blank">
                                <p>
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    /in/paula-letícia
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card  card-devs">
                    <img class="card-img-top" src="https://i.imgur.com/f4YhV0t.jpg" alt="Imagem de capa do Bruno"
                        height="100px">
                    <img src="https://i.imgur.com/OceXtA3.png" alt="Desenvolvedor Bruno Henrique"
                        class="rounded-circle foto-perfil">
                    <div class="card-body columns">
                        <h4 class="card-title d-flex justify-content-center">Bruno Henrique</h4>
                        <div class="redes-sociais row d-flex justify-content-center">
                            <a href="https://github.com/Bruno-H-Moraes" class="github" target="_blank">
                                <p>
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                    /Bruno-H-Moraes
                                </p>
                            </a>
                            <a href="https://www.linkedin.com/in/bruno-henrique-de-moraes-862800a2/" class="linkedin" target="_blank">
                                <p>
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    /in/bruno-henrique
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card  card-devs">
                    <img class="card-img-top" src="https://i.imgur.com/38BW0Y1.jpg" alt="Imagem de capa do Isac"
                        height="100px">
                    <img src="https://i.imgur.com/4XCNdeh.png" alt="Desenvolvedor Isac Cordeiro"
                        class="rounded-circle foto-perfil">
                    <div class="card-body columns">
                        <h4 class="card-title d-flex justify-content-center">Isac Cordeiro</h4>
                        <div class="redes-sociais row d-flex justify-content-center">
                            <a href="https://github.com/91Zac" class="github" target="_blank">
                                <p>
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                    /91Zac
                                </p>
                            </a>
                            <a href="https://www.linkedin.com/in/isacoliveira91/" class="linkedin" target="_blank">
                                <p>
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    /in/isacoliveira91/
                                </p>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card card-devs">
                    <img class="card-img-top" src="https://i.imgur.com/R3UYxEk.jpg" alt="Imagem de capa do Gustavo"
                        height="100px">
                    <img src="https://i.imgur.com/kuxeNAz.jpg" alt="Desenvolvedor Gustavo Miqueias"
                        class="rounded-circle foto-perfil">
                    <div class="card-body columns">
                        <h4 class="card-title d-flex justify-content-center">Gustavo Miqueias</h4>
                        <div class="redes-sociais row d-flex justify-content-center">
                            <a href="https://github.com/gumiqueias" class="github" target="_blank">
                                <p>
                                    <i class="fa fa-github-square" aria-hidden="true"></i>
                                    /gumiqueias
                                </p>
                            </a>
                            <a href="https://www.linkedin.com/in/gumiqueias/" class="linkedin" target="_blank">
                                <p>
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                    /in/gumiqueias/
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-4 mb-5">
            <div class="col-md-9">
                <div class="card-deck ">
                    <div class="card card-devs">
                        <img class="card-img-top" src="https://i.imgur.com/U78qro4.jpg" alt="Imagem de capa do Daniel"
                            height="100px">
                        <img src="https://i.imgur.com/V8Nmsiq.jpg" alt="Desenvolvedor Daniel Ferreira"
                            class="rounded-circle foto-perfil">
                        <div class="card-body columns">
                            <h4 class="card-title d-flex justify-content-center">Daniel Ferreira</h4>
                            <div class="redes-sociais row d-flex justify-content-center">
                                <a href="https://github.com/danielferreira3" class="github" target="_blank">
                                    <p>
                                        <i class="fa fa-github-square" aria-hidden="true"></i>
                                        /danielferreira3
                                    </p>
                                </a>
                                <a href="https://www.linkedin.com/in/daniel-ferreira-60ab82200/" class="linkedin" target="_blank">
                                    <p>
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                        /in/daniel-ferreira
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card card-devs">
                        <img class="card-img-top" src="https://i.imgur.com/7EdWEjp.png" alt="Imagem de capa do Guilherme"
                            height="100px">
                        <img src="https://i.imgur.com/4BwqdqJ.png" alt="Desenvolvedor Guilherme Alex"
                            class="rounded-circle foto-perfil">
                        <div class="card-body columns">
                            <h4 class="card-title d-flex justify-content-center">Guilherme Alex</h4>
                            <div class="redes-sociais row d-flex justify-content-center">
                                <a href="https://github.com/GuilhermeAlex" class="github" target="_blank">
                                    <p>
                                        <i class="fa fa-github-square" aria-hidden="true"></i>
                                        /GuilhermeAlex
                                    </p>
                                </a>
                                <a href="https://www.linkedin.com/in/guilherme-alex-663a51143/" class="linkedin" target="_blank">
                                    <p>
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                        /in/guilherme-alex
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card card-devs">
                        <img class="card-img-top" src="https://i.imgur.com/r82uKMM.jpg" alt="Imagem de capa do Lucas"
                            height="100px">
                        <img src="https://i.imgur.com/FgCORDo.png" alt="Desenvolvedor Lucas Santos"
                            class="rounded-circle foto-perfil">
                        <div class="card-body columns">
                            <h4 class="card-title d-flex justify-content-center">Lucas Santos</h4>
                            <div class="redes-sociais row d-flex justify-content-center">
                                <a href="https://github.com/LucasSG00" class="github" target="_blank">
                                    <p>
                                        <i class="fa fa-github-square" aria-hidden="true"></i>
                                        /LucasSG00
                                    </p>
                                </a>
                                <a href="https://www.linkedin.com/in/lucas-santos-gon%C3%A7alves/" class="linkedin" target="_blank">
                                    <p>
                                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                        /in/lucas-santos
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>