
    #img-bg{
        background-image: url('https://i.imgur.com/kKJqi6Y.jpg');
        min-height: 695px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    p{
        font-size: 25pt;
    }
    
    .opacity{
        opacity:0.8;
        filter:alpha(opacity=60);
        }
    @media(max-width:767px){
       .cdtr{
            margin-left: 8%;
            margin-right: 8%;
         }
    }