/* input{
    all: unset;
    border: 1px solid black;
  width: 15px;
  height: 15px;
  display: inline-block;
}
input:checked{
  background-color: rgb(217, 255, 0);
  width: 20px;
  height: 20px;
} */

/* .t-img{
    width: 100%;
    height: 200px;
}

.redondo{
  border-radius: 30%;
} */

/* .t-card{
  width: 35%;
} */

/* .fundo{
  background-color:rgb(217, 255, 0)
} */

.carrinho:hover {
  transform:scale(1.2);
}

.btn-comprar:hover {
  transform:scale(1.1);
}

.cursor-pointer{
  cursor: pointer;
}

.btn-comprar-modal {
  width: 60%;
}


@media only screen and (max-width:414px){
  .bg-image{
    margin: 0%;
  }
  .padding{
    padding: 0%;

    width: 100%!important;

    align-items: center;
    margin: 0!important;
  }
  .response{
    margin-right: 0%;
  }
  .produtos{
    display: flex;
    flex-flow: column;

    align-content: center;
    justify-content: center;

    width: 95%;
  }
  .card{
    width: 100%!important;
    margin: 0!important;

  }
  .container{
    display: flex;
    justify-content: center;
    padding: 0%!important;
    width: 100%!important;
  }
  .cardModal{
   margin-right: 50px;
   margin-bottom: 3%!important;
  }
  .titulo{
    text-align: center;
  }
  .produtoMobile{
    display: flex;
    flex-flow:wrap;
    margin-bottom: 10%!important;

  }
  .produtoMobile img{
    width: 100%;
  }
 .response{
  margin-bottom: 8%;
  justify-content: center;

}
.mati{
 
  margin-left: 0px; 
  margin-right: 57px;
}
     
}
