<div class="p-5 text-center bg-image"
style="
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQchzT-ayrVejYZAj4AeNjedQ0huDWTwMZow&usqp=CAU');
  background-size: 100% 100%;
">
  <div class="container fluid">
    <div class="row d-flex justify-content-center align-items-center mt-4">
      <h1 class="font-weight-bold display-5">Carrinho</h1>
      <img
        src="https://i.imgur.com/8vy1Bm2.png"
        alt="Foto carrinho"
        width="35px"
        height="35px"
      />
    </div>
  </div>
  <div class="container mb-3">
    <div
      class="row align-items-center justify-content-start mb-4 mt-4 border-top border-bottom border-dark"
    >
      <div class="col-md-4">
        <img
          class="rounded mx-auto d-block img-aj"
          src="https://i.imgur.com/qH651Su.png"
          alt="Imagem produto"
        />
      </div>
      <div class="col-md-4 border-right border-dark">
        <p class="mb-3 mt-2 ml-4">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s. Lorem Ipsum is simply dummy text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s.
        </p>
      </div>
      <div class="col-md-4">
        <h4 class="text-center mb-3">Quantidade</h4>
        <h5 class="text-center mb-3">R$ 00,00</h5>
        <form>
          <div class="form-row align-items-center justify-content-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
                >Preferência</label
              >
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
                <option value="3">6</option>
                <option value="1">7</option>
                <option value="2">8</option>
                <option value="3">9</option>
                <option value="3">10</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>


      <div
        class="row align-items-center justify-content-start mb-4 mt-4 border-top border-bottom border-dark"
      >
        <div class="col-md-4">
          <img
            class="rounded mx-auto d-block img-aj"
            src="https://i.imgur.com/vtXYRz2.jpg"
            alt="Imagem produto"
          />
        </div>
        <div class="col-md-4 border-right border-dark">
          <p class="mb-3 mt-2 ml-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s. Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="text-center mb-3">Quantidade</h4>
          <h5 class="text-center mb-3">R$ 00,00</h5>
          <form>
            <div class="form-row align-items-center justify-content-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
                  >Preferência</label
                >
                <select
                  class="custom-select mr-sm-2"
                  id="inlineFormCustomSelect"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="1">4</option>
                  <option value="2">5</option>
                  <option value="3">6</option>
                  <option value="1">7</option>
                  <option value="2">8</option>
                  <option value="3">9</option>
                  <option value="3">10</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="row align-items-center justify-content-start mb-4 mt-4 border-top border-bottom border-dark"
      >
        <div class="col-md-4">
          <img
            class="rounded mx-auto d-block img-aj"
            src="https://i.imgur.com/vtXYRz2.jpg"
            alt="Imagem produto"
          />
        </div>
        <div class="col-md-4 border-right border-dark">
          <p class="mb-3 mt-2 ml-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s. Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="text-center mb-3">Quantidade</h4>
          <h5 class="text-center mb-3">R$ 00,00</h5>
          <form>
            <div class="form-row align-items-center justify-content-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
                  >Preferência</label
                >
                <select
                  class="custom-select mr-sm-2"
                  id="inlineFormCustomSelect"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="1">4</option>
                  <option value="2">5</option>
                  <option value="3">6</option>
                  <option value="1">7</option>
                  <option value="2">8</option>
                  <option value="3">9</option>
                  <option value="3">10</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div
        class="row align-items-center justify-content-start mb-4 mt-4 border-top border-bottom border-dark"
      >
        <div class="col-md-4">
          <img
            class="rounded mx-auto d-block img-aj"
            src="https://i.imgur.com/vtXYRz2.jpg"
            alt="Imagem produto"
          />
        </div>
        <div class="col-md-4 border-right border-dark">
          <p class="mb-3 mt-2 ml-4">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s. Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s.
          </p>
        </div>
        <div class="col-md-4">
          <h4 class="text-center mb-3">Quantidade</h4>
          <h5 class="text-center mb-3">R$ 00,00</h5>
          <form>
            <div class="form-row align-items-center justify-content-center">
              <div class="col-auto my-1">
                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect"
                  >Preferência</label
                >
                <select
                  class="custom-select mr-sm-2"
                  id="inlineFormCustomSelect"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="1">4</option>
                  <option value="2">5</option>
                  <option value="3">6</option>
                  <option value="1">7</option>
                  <option value="2">8</option>
                  <option value="3">9</option>
                  <option value="3">10</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="container">
        <div class="row align-items-center ">
          <div class="col-md-12 d-flex flex-row">
          <div class="col-md-8 ml-md-auto mb-3 mt-3">
            <h5 class="text-center">Consulte o prazo de entrega</h5>
            <form class="mt-3 form-inline justify-content-center">
              <div class="form-group mb-2 pr-3">
                <label for="" class="sr-only">CEP</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputPassword2"
                  placeholder="Insira o CEP"
                />
              </div>
              <button type="submit" class="btn btn-success text-white font-weight-bold mb-2">Consultar</button>
            </form>
          </div>
          <div class="col-md-4 ml-md-auto mb-4 mt-4 border-left border-dark">
            <h4 class="text-center mb-3">Total com frete</h4>
            <h5 class="text-center mb-3">R$ 0,00</h5>
          </div>
        </div>
      </div>
    </div>
      <div class="row align-self-center mb-3 mt-4 border-top border-dark">
        <h3 class="font-weight-bold display-5 mt-3">Forma de Pagamento</h3>
      </div>

    <div class="row mb-5 d-flex align-items-stretch border-top border-dark">
      <div class="col-md-12 font-weight-bold">
        <div class="d-flex justify-contend-start">
        <button type="button" class="btn btn-success mt-3 font-weight-bold " id="boleto" (click)="this.boleto = true">
          Boleto
          <img
            src="https://i.imgur.com/MSXmGq0.png"
            alt="Imagem código de barras"
            width="30px"
            height="30px"
          />
        </button>
        <button
          type="button"
          class="btn btn-success mt-3 ml-4 font-weight-bold" id="cartao" (click)="this.boleto= false"
        >
          Cartão
          <img
            src="https://i.imgur.com/kOcBMuL.png"
            alt="Imagem cartão de crédito"
            width="30px"
            height="30px"
          />
        </button>
      </div>
        <div class="d-flex flex-row mt-3" *ngIf='mostraBoleto()'>
        <div class="col-md-7" >
          <div class="form-group" id="boleto">
            <form>
              <h5 class="border-bottom border-dark">Dados Pessoais</h5>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Nome</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Primeiro Nome"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Sobrenome</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="Último Sobrenome"
                  />
                </div>
                <div class="form-group col-md-12">
                  <label for="inputAddress">CPF</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputAddress"
                    placeholder="Nº CPF"
                  />
                </div>
              </div>

              <h5 class="border-bottom border-dark">Endereço</h5>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Rua ou Avenida</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Nome da Rua ou Avenida"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Bairro</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="Nome do Bairro"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Número</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Nº Residência"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">CEP</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="CEP da Residência"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Complemento</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="Complemento"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Cidade</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Cidade"
                  />
                </div>

                <div class="form-group col-md-6">
                  <label for="inputEstado">Estado</label>
                  <select id="inputEstado" class="form-control">
                    <option selected>Selecione o Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="EX">Estrangeiro</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
          <div class="col-md-5 mt-4">
            <div class="border-left border-dark">
              <img
                class="rounded mx-auto d-block"
                src="https://i.imgur.com/MSXmGq0.png"
                alt=""
                width="200px"
                height="200px"
              />

              <h2 class="text center mb-4 mt-5 d-flex justify-content-around">
                Resumo da compra
              </h2>
              <div class="d-flex justify-content-around" style="font-size: 13pt">
                <p>Produtos</p>
                <p>R$ 0,00</p>
              </div>

              <div class="d-flex justify-content-around mb-3" style="font-size: 13pt">
                <p>Envio</p>
                <p>R$ 0,00</p>
              </div>
              <div
                class="row mt-5 ml-1 mr-1 d-flex justify-content-around border-top border-dark" style="font-size: 13pt"
              >
                <p class="mt-2">Pagará</p>
                <p class="mt-2">R$ 0,00</p>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-4 mt-5">
                  <button
                    type="button"
                    class="btn btn-success text-white font-weight-bold"
                  >
                    Finalizar compra
                  </button>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="d-flex flex-row mt-3" *ngIf='mostraCartao()'>
        <div class="col-md-7">
          <div class="form-group" id="boleto">
            <form>
              <h5 class="border-bottom border-dark">Dados do Cartão</h5>
              <div class="form-group">
                <label for="inputAddress">Número do Cartão</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress"
                  placeholder="Digite o número do Cartão"
                />
              </div>
              <div class="form-group">
                <label for="inputAddress2">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress2"
                  placeholder="Nome Completo"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Data de vencimento</label>
                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Vencimento do Cartão"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Código de Segurança</label>
                  <input
                    type="password"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="Cod.Segurança"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress">CPF</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputAddress"
                  placeholder="CPF do Titular"
                />
              </div>
              <h5 class="border-bottom border-dark">Endereço</h5>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Rua ou Avenida</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Nome da Rua ou Avenida"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Bairro</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="Nome do Bairro"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Número</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Número da Residência"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">CEP</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="CEP da Residência"
                  />
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Complemento</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="Complemento"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Cidade</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputEmail4"
                    placeholder="Cidade"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputEstado">Estado</label>
                  <select id="inputEstado" class="form-control">
                    <option selected>Selecione o Estado</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="EX">Estrangeiro</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
          <div class="col-md-5 mt-4">
            <div class="border-left border-dark">
              <img
                class="rounded mx-auto d-block"
                src="https://i.imgur.com/kOcBMuL.png"
                alt=""
                width="200px"
                height="200px"
              />

              <h2 class="text center mb-4 mt-5 d-flex justify-content-around">
                Resumo da compra
              </h2>
              <div class="d-flex justify-content-around" style="font-size: 13pt">
                <p>Produtos</p>
                <p>R$ 0,00</p>
              </div>

              <div class="d-flex justify-content-around mb-3" style="font-size: 13pt">
                <p>Envio</p>
                <p>R$ 0,00</p>
              </div>
              <div
                class="row mt-5 ml-1 mr-1 d-flex justify-content-around border-top border-dark" style="font-size: 13pt"
              >
                <p class="mt-2">Pagará</p>
                <p class="mt-2">R$ 0,00</p>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-4 mt-5">
                  <button
                    type="button"
                    class="btn btn-success text-white font-weight-bold"
                  >
                    Finalizar compra
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
