.t-img20{
    width: 20px;
    height: 20px;
}
.t-img200{
    width: 200px;
    height: 200px;
}

.border-radius{
    border-radius: 20px;
}
.modal-body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQchzT-ayrVejYZAj4AeNjedQ0huDWTwMZow&usqp=CAU');
    background-size: 100% 100%;
    }
    .b-cor{
        background-color: rgba(0, 0, 0, 0.61);
    }
    .modal-dialog{
        min-width: 50vw;
     }
     .fa1 {
        font-size: 40px;
    }
    