
    <!-- Modal -->
  <div class="modal fade " id="comprar" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
       
        <div class="modal-body">
            <div class="row ml-2">
                <button type="button" class="btn b-cor btn-dark btn-sm  rounded text-light" data-dismiss="modal">Voltar</button>
            </div>
            <div class="row ml-5">
                <div class="card w-100 bg-transparent  d-flex flex-row m-3">
                    <img class="t-img200" src="https://i.imgur.com/oWsdqix.jpg" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Título do card</h5>
                      <hr>
                      <p class="card-text">Com suporte Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta labore consectetur corporis nisi odit incidunt molestiae dolor fuga. Non minima consequatur sunt nulla esse odio, dicta quaerat ipsam asperiores illo!.</p>
                      <div class="row d-flex justify-content-end mr-4">
                        <button type="button" class="btn bg-warning btn-sm ml-5">Comprar</button>
                        <div class="ml-5">
                            <i class="fa fa1 fa-shopping-cart fa-10x" aria-hidden="true" ></i>
                        </div>
                        
                      </div>
                      <div class="ml-3">consulte o prazo de entrega</div>
                      <form class="d-flex flex-row ">
                        <input
                          class="form-control mr-sm-2 border-radius bg-transparent "
                          type="search"
                          placeholder="insira o cep"
                          aria-label="Pesquisar"
                        />
                        <button type="button" class="btn btn-primary btn-sm">Consultar</button>
                      </form>
                      
                    </div>
                  </div>
                  <h5 class="ml-5">Você também pode gostar</h5>
                  <div class="row d-flex flex-row ml-4">
                      
                    <div class="card ml-2 bg-transparent" style="width: 10rem;">
                        <img class="card-img-top" src="https://i.imgur.com/jFVL8Zt.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                          <p class="card-text">Um exemplo de texto rápido para construir o .</p>
                        </div>
                        <hr>
                        <div class="d-flex flex-row">
                            R$ 00,00 
                            <button type="button" class="btn btn-warning btn-sm ml-4 rounded" data-toggle="modal" data-target="#comprar">
                                Comprar
                              </button>
                        </div>
                      </div>
                      <div class="card ml-2 bg-transparent" style="width: 10rem;">
                        <img class="card-img-top" src="https://i.imgur.com/jFVL8Zt.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                          <p class="card-text">Um exemplo de texto rápido para construir o .</p>
                        </div>
                        <hr>
                        <div class="d-flex flex-row">
                            R$ 00,00 
                            <button type="button" class="btn btn-warning btn-sm ml-4 rounded" data-toggle="modal" data-target="#comprar">
                                Comprar
                              </button>
                        </div>
                      </div>
                      <div class="card ml-2 bg-transparent" style="width: 10rem;">
                        <img class="card-img-top" src="https://i.imgur.com/jFVL8Zt.jpg" alt="Imagem de capa do card">
                        <div class="card-body">
                          <p class="card-text">Um exemplo de texto rápido para construir o .</p>
                        </div>
                        <hr>
                        <div class="d-flex flex-row">
                            R$ 00,00 
                            <button type="button" class="btn btn-warning btn-sm ml-4 rounded" data-toggle="modal" data-target="#comprar">
                                Comprar
                              </button>
                        </div>
                      </div>
                  </div>
              </div>
        </div>
        
      </div>
    </div>
  </div>