.cr-size{
    height: 350px;
    
}

.artigos{
    width: 230px;
}

.fundo-menu{
    background-color: #009900;
}

.modal-dialog{
    min-width: 80vw;
 }

 .size-modal{
     height: 300px;
     width: 500px;
 }