<!--inicio carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.imgur.com/7EdWEjp.png" alt="Primeiro Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/38BW0Y1.jpg" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/r82uKMM.jpg" alt="Terceiro Slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<!--Fim do carousel-->
<!--Inicio jumbotron-->
<div class="jumbotron">
  <h1 class="display-4 d-flex justify-content-center">Impacto na Sociedade.</h1>
  <p class="lead">Lorem Ipsum.</p>
  <hr class="my-4" />
  <p>
    Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai
    caçá sua turmis! Nec orci ornare consequat. Praesent la cinia ultrices
    consectetur. Sed non ipsum felis. Praesent malesuada urna n isi, quis
    volutpat erat hendrer it non. Nam vulputate dapibus. Mé faiz elementum
    girarzis, nisi eros vermeio.
  </p>
  <div class="d-flex justify-content-center">
    <div class="">
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/WH7K979.jpg"
        alt="Papelão"
      />
      <div class="alinha">Papelão</div>
    </div>
    <div class="ml-5">
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/V2rkmqB.png"
        alt="Madeira"
      />
      <div class="alinha">Madeira</div>
    </div>
    <div class="ml-5">
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/TnqsCms.png"
        alt="PET"
      />
      <div class="alinha">Garrafa PET</div>
    </div>
    <div class="px-5">
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/XCCtvDO.jpg"
        alt="Pallet"
      />
      <div class="pallet">Pallet</div>
    </div>
    <div>
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/wV6KsS5.png"
        alt="Plastico"
      />
      <div class="alinha">Plástico</div>
    </div>
  </div>
</div>

<!--Cards Inicio-->


<div class="container" id="inspire">
  <h2>Inspire-se</h2>
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.ytimg.com/vi/4kdJFXcnMSc/maxresdefault.jpg"
        alt="Espanador"
      />
      <div class="card-body">
        <h5 class="card-title">Espanador de Tecido</h5>
        <p class="card-text">
          Que tal ajudar com a sustentabilidade do nosso planeta substituindo nossos 
          limpadores descartáveis por outros feitos a mão, de forma fácil? Qualquer iniciante consegue fazer, 
          são praticamente só 2 costuras!
        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
          Ver Mais.
        </button>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.imgur.com/rmtsotx.jpg"
        alt="Sacola Ecologica"
      />
      <div class="card-body">
        <h5 class="card-title">Sacola Ecologica</h5>
        <p class="card-text">
          Esse vídeo é para você aprender a criar a sua sacola ecologica. Vamos juntos dizer não as sacolas de Plastico
          que destroem nosso meio ambiente. Qualquer iniciante consegue, vamos salvar nosso planeta! <br> <br>

        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">
          Ver Mais.
        </button>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.imgur.com/oWsdqix.jpg"
        alt="Casinha de PET"
      />
      <div class="card-body">
        <h5 class="card-title">Casinha de garrafa PET</h5>
        <p class="card-text">
          Nesse video ensinamos a montar uma casinha pro seu pet, de GARRAFA PET e ISOPOR.
          Apenas com a reciclagem desses dois itens, podemos fazer coisas incriveis como o lar do 
          seu bichinho. <br><br>
        </p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal3">
          Ver Mais.
        </button>
      </div>
    </div>
  </div>
  <!--Cards Final-->
  <br><br><br>
  <hr>
  <!--Inicio Categorias-->

  <div class="container">
    <h3 class="font-weight-bold display-5 mt-5">Categorias</h3>
    <div class="card-group mt-3">
      <div class="card" style="width: 18rem">
        <img src="https://i.imgur.com/GqCkcJp.pngg" class="card-img-top" alt="Utensilios" />
        <div class="card-body">
          <p class="card-text d-flex justify-content-center">
           <b>Utensílios Diarios.</b> 
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="https://i.imgur.com/UdS0jSI.png" class="card-img-top" alt="Artigos de Arte" />
        <div class="card-body">
          <p class="card-text d-flex justify-content-center">
            <b>Artigos de Arte</b>
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="https://i.imgur.com/xlTyzxH.png" class="card-img-top" alt="Objeto de Decoração" />
        <div class="card-body">
          <p class="card-text d-flex justify-content-center">
            <b>Objetos de Decoração</b>
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="https://i.imgur.com/cDs76NK.png" class="card-img-top" alt="Moveis" />
        <div class="card-body">
          <p class="card-text d-flex justify-content-center">
            <b>Moveis</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br><br>
  <hr>

<app-newsletter></app-newsletter>

<!--Inicio Modal-->
<!-- Modal 1 -->
<!-- Botão para acionar modal -->


<!-- Modal 1 -->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Espandor de Pano</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
         
         <div class="col-md-6"> 
           <img class="size-modal" src="https://i.imgur.com/pFN5R0e.jpg" alt="Eco Bag">
          Esse vídeo é para você aprender a criar a sua sacola ecologica. Vamos juntos dizer não as sacolas de Plastico
          que destroem nosso meio ambiente. Qualquer iniciante consegue, vamos salvar nosso planeta!</div>
        <div class="col-md-6">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/MhWhmwpKzyw" frameborder="0" 
          allow="accelerometer; autoplay;
           clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!--Fim do Modal 1-->
<!--Inicio Modal 2-->
<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Espandor de Pano</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
         <div class="col-md-6"> 
          <img class="size-modal" src="https://i.ytimg.com/vi/4kdJFXcnMSc/maxresdefault.jpg" alt="Espanador Pano">  
          Que tal ajudar com a sustentabilidade do nosso planeta substituindo nossos 
        limpadores descartáveis por outros feitos a mão, de forma fácil? Qualquer iniciante consegue fazer, 
        são praticamente só 2 costuras!</div>
        <div class="col-md-6">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/4kdJFXcnMSc" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!--Fim do Modal2-->
<!--Inicio Modal 3-->
<div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Espandor de Pano</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="row">
         <div class="col-md-6"> 
          <img class="size-modal" src="https://i.imgur.com/zwbjoDh.jpg" alt="Casinha PET"> 
          Nesse video ensinamos a montar uma casinha pro seu pet, de GARRAFA PET e ISOPOR.
          Apenas com a reciclagem desses dois itens, podemos fazer coisas incriveis como o lar do 
          seu bichinho.</div>
        <div class="col-md-6">
          <iframe width="100%" height="315" src="https://www.youtube.com/embed/VEKLl65ZjJI" frameborder="0" 
          allow="accelerometer; autoplay; 
          clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<!--Fim do Modal3-->
