<!--inicio carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.imgur.com/Z2uc4Nt.png" alt="Primeiro Slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/1v5N6Dq.png" alt="Segundo Slide" />
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/JqNvRf0.png" alt="Terceiro Slide" />
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
<!--Fim do carousel-->
<!--Inicio jumbotron-->

<div class="jumbotron m-0 " id="loading">
  <h1 class="display-4 text d-flex justify-content-center digitar typing-animation-impacto impacto fi font-weight-bold">Impacto na
    Sociedade.</h1>
  <hr class="my-4" />

  <div class="container response">
    <div class="d-flex justify-content-between">
      <div class="row container d-flex justify-content-around p-0">
        <div class="ml-5">
          <div class="col-md-12 d-flex justify-content-center">
            <div class="col-md-9">
              <h5 class="text-justify impacto paragrafo">
                O desenvolvimento sustentável necessita de planejamento e da
                participação de todas as esferas da população. É necessário
                analisar cuidadosamente o quanto já gastamos dos recursos e
                quanto ainda nos resta. Devemos também compreender que os
                recursos naturais podem acabar e seu uso consciente é
                fundamental para não comprometer a vida das futuras gerações,
                com isso a reutilização de materiais recicláveis para a
                elaboração de produtos para as empresas ou os nossos lares é uma
                excelente alternativa para a contribuição da preservação do meio
                ambiente e um novo meio de investimento na economia global.
              </h5>
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <!--Cards Inicio-->
        
       <div class="col-md-12 p-0">
          <div class="d-flex justify-content-between mt-4 mb-4 materiais">
            <div>
              <img class="destaques inline img-fluid rounded-circle" src="https://i.imgur.com/WH7K979.jpg"
                alt="Papelão" />
              <div class="alinha texto font-weight-bold">Papelão</div>
            </div>
            <div>
              <img class="destaques inline img-fluid rounded-circle" src="https://i.imgur.com/V2rkmqB.png"
                alt="Madeira" />
              <div class="alinha texto font-weight-bold">Madeira</div>
            </div>
            <div>
              <img class="destaques inline img-fluid rounded-circle ml-2" src="https://i.imgur.com/TnqsCms.png" alt="PET" />
              <div class="alinha texto font-weight-bold">Garrafa PET</div>
            </div>
            <div>
              <img class="destaques inline img-fluid rounded-circle" src="https://i.imgur.com/XCCtvDO.jpg"
                alt="Pallet" />
              <div class="pallet texto font-weight-bold ">Pallet</div>
            </div>
            <div>
              <img class="destaques inline img-fluid rounded-circle" src="https://i.imgur.com/wV6KsS5.png"
                alt="Plastico" />
              <div class="alinha texto font-weight-bold">Plástico</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <br>
  <div class="container inspire " id="inspire">
    <h2 class="font-weight-bold centralizar tamanho-titulo">Inspire-se</h2>
    <h4 class="font-weight display-5 mt-3 paragrafo text-justify">Trouxemos lindas dicas de inspiração com reciclagem . Você pode amar muito
      as ideias para fazer algo muito criativo em sua casa também!</h4>
      <br />
      <br />
      <section class="categoria d-flex justify-content-center " id="categoria">
    <div class="card-deck catego-content">
      
            <div class="card bg-light mb-4 mr-3 shadow p-3 border-dark bg-white rounded box " style="max-width: 25rem;">
        <img class="card-img-top padraoimg box img-ispe" src="https://i.ytimg.com/vi/4kdJFXcnMSc/maxresdefault.jpg"
          alt="Espanador" />
        <div class="card-body bg-light box">
          <h5 class="card-title">Espanador de Tecido</h5>
          <p class="card-text text-justify">
            Que tal ajudar com a sustentabilidade do nosso planeta
            substituindo nossos limpadores descartáveis por outros feitos a
            mão, de forma fácil? Qualquer iniciante consegue fazer, são
            praticamente só 2 costuras!
            <br />
            <br />
          </p>
          <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#Modal1">
            Ver Mais...
          </button>
        </div>
      </div>
      <div class="card bg-light mb-4 mr-3 shadow p-3 border-dark bg-white rounded box " style="max-width: 25rem;">
        <img class="card-img-top padraoimg img-ispe box" src="https://i.imgur.com/rmtsotx.jpg" alt="Sacola Ecologica" />
        <div class="card-body bg-light box">
          <h5 class="card-title">Sacola Ecologica</h5>
          <p class="card-text text-justify">
            Esse vídeo é para você aprender a criar a sua sacola ecologica.
            Vamos juntos dizer não as sacolas de Plastico que destroem nosso
            meio ambiente. Qualquer iniciante consegue, vamos salvar nosso
            planeta!
            <br />
            <br />
          </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2">
            Ver Mais...
          </button>
        </div>
      </div>
      <div class="card bg-light mb-4 mr-3 shadow p-3 border-dark bg-white rounded box " style="max-width: 25rem;">
        <img class="card-img-top padraoimg img-ispe box" src="https://i.imgur.com/oWsdqix.jpg" alt="Casinha de PET" />
        <div class="card-body bg-light box">
          <h5 class="card-title">Casinha de garrafa PET</h5>
          <p class="card-text text-justify">
            Nesse video ensinamos a montar uma casinha pro seu pet, de GARRAFA
            PET e ISOPOR. Apenas com a reciclagem desses dois itens, podemos
            fazer coisas incriveis como o lar do seu bichinho. <br /><br />
          </p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal3">
            Ver Mais...
          </button>
        </div>
      </div>
    </div>
  </section>
    <!--Cards Final-->
    <br /><br /><br />
    <hr />
    <!--Inicio Categorias-->

    <div class="container mb-5 response centralizar">
      <h3 class="font-weight-bold display-5 mt-5 tamanho-titulo">Categorias</h3>
      <h4 class="font-weight display-5 mt-3 paragrafo text-justify">A reciclagem no Brasil ainda é muito baixa. A maioria das taxas
        encontradas giram em torno de 20%. Esse índice baixo esta associado há vários motivos, mas o principal é a
        falta de conhecimento dos brasileiros sobre coleta e reciclagem. <b>Cofira os tipos de categoria de produtos
          recicláveis!</b> </h4>
          <br />
      <br />
      <section class="categoria d-flex justify-content-center " id="categoria">
        <div class="row d-flex justify-content-center ">


          <div class="catego-content row d-flex justify-content-center ">
            <div class="card bg-light mb-4 mr-3 shadow p-3 border-dark bg-white rounded box " style="max-width: 16rem;">


              <img class="card-img-top box "
                src="https://i.pinimg.com/originals/7f/76/92/7f7692a64e73ec732a201f9b44e1fb8c.jpg"
                alt="Imagem de capa do card">
              <div class="card-body box ">
                <h5>Utensílios Diarios</h5>
                <p class="card-text text-justify">Há uma diversidade enorme de materiais, geralmente descartados após o uso, que
                  você
                  pode guardar e reaproveitar para criar ou reformar utensílios.</p>
              </div>


            </div>

            <div class="card bg-light mb-4 mr-3 border-dark shadow p-3 bg-white rounded box" style="max-width: 16rem;">


              <img class="card-img-top box"
                src="https://i.pinimg.com/736x/89/50/43/8950431688f71bcf687e8574e1e3bb35.jpg"
                alt="Imagem de capa do card">
              <div class="card-body box">
                <h5>Artigos de Arte</h5>
                <p class="card-text text-justify">Artistas plásticos aderem, cada vez mais, à criação sustentável. Com a reutilização de materiais para a produção de obras eles atraem os olhares de curiosos e a atenção das pessoas em geral.</p>
              </div>


            </div>

            <div class="card bg-light mb-4 mr-3 border-dark shadow p-3 bg-white rounded box" style="max-width: 16rem;">


              <img class="card-img-top box"
                src="https://www.playgrama.com.br/wp-content/uploads/2017/09/02-bide-caixote.jpg"
                alt="Imagem de capa do card">
              <div class="card-body box">
                <h5>Objetos de Decoração</h5>
                <p class="card-text text-justify"> Você pode reutilizar objetos na decoração, como pallets, caixotes de feira, latas, garrafas pet, rolhas e até móveis antigos, basta usar a criatividade. Eles podem ser utilizados tanto para decorar, quanto para ajudar na organização.</p>
              </div>

            </div>


            <div class="card bg-light mb-4 mr-3 border-dark shadow p-3 bg-white rounded box" style="max-width: 16rem;">

              <img class="card-img-top box"
                src="https://imagens-revista.vivadecora.com.br/uploads/2018/08/modelo-de-mesa-lateral-feita-com-cesto-de-roupas-e-tampo-de-madeira.jpg"
                alt="Imagem de capa do card">
              <div class="card-body box">
                <h5>Móveis</h5>
                <p class="card-text text-justify">Existem diversos modelos de móveis que podem ser feitos com material reciclável, dentre eles mesinhas, prateleiras, estantes, bancos, sofás, e muito mais.</p>
              </div>

            </div>
          </div>
        </div>

      </section>

      <app-newsletter></app-newsletter>
    </div>
  </div>
  <!--Modals-->
  <!--Inicio Modal 1-->
  <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">
            Espandor de Pano
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <img class="size-modal tmodal" src="https://i.ytimg.com/vi/4kdJFXcnMSc/maxresdefault.jpg"
                alt="Espanador Pano" />
                <p class="text-justify">
              Que tal ajudar com a sustentabilidade do nosso planeta
              substituindo nossos limpadores descartáveis por outros feitos
              a mão, de forma fácil? Qualquer iniciante consegue fazer, são
              praticamente só 2 costuras!
            </p>
            </div>
            <div class="col-md-6">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/4kdJFXcnMSc" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fim do Modal1-->

  <!-- Modal 2 -->
  <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">
            Sacola Ecologica
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <img class="size-modal tmodal" width="250px" height="250px" src="https://i.imgur.com/pFN5R0e.jpg"
                alt="Eco Bag" />
              <p class="text-justify">
              Esse vídeo é para você aprender a criar a sua sacola ecologica.
              Vamos juntos dizer não as sacolas de Plastico que destroem nosso
              meio ambiente. Qualquer iniciante consegue, vamos salvar nosso
              planeta!
            </p>
            </div>
            <div class="col-md-6">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/MhWhmwpKzyw" frameborder="0" allow="accelerometer; autoplay;
           clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Fechar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Fim do Modal 2-->

  <!--Inicio Modal 3-->
  <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">
            Casinha de PET
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <img class="size-modal tmodal" src="https://i.imgur.com/zwbjoDh.jpg" alt="Casinha PET" />
              <p class="text-justify">Nesse video ensinamos a montar uma casinha pro seu pet, de
              GARRAFA PET e ISOPOR. Apenas com a reciclagem desses dois
              itens, podemos fazer coisas incriveis como o lar do seu
              bichinho.</p>
            </div>
            <div class="col-md-6">
              <iframe width="100%" height="315" src="https://www.youtube.com/embed/VEKLl65ZjJI" frameborder="0" allow="accelerometer; autoplay;
          clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Fechar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Fim do Modal3-->